<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mebelka2._0.Properties.Settings.furniture_storeConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=root;persistsecurityinfo=True;database=furniture_store"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>